@using TesteBook.WebApp.Model;
@model VolumesModelView;

@{
    var model = Model ?? new VolumesModelView();
}
<div class="text-center" style="width: 100%;">
    <h1 class="display-4">Books</h1>
    <form method="get" action="/pesquisar" style="width: 100%;">
        <div class="row m-0">
            <div class="col-11 pr-0 pl-0">
                <input style="width: 100%;" placeholder="Digite o nome do livro..." name="parametros" type="text">
            </div>
            <button type="submit">Pesquisar</button>
        </div>
    </form>
</div>
<div class="row">
    @foreach (var volume in model.Volumes)
    {
        <div class="col-md-4 mt-2">
            <div class="pl-2 pr-2" style="height: 500px; background-color: lightgray; word-wrap: break-word;">
                <form method="post" action="/favorite/id=@volume.Id" target="">
                    <div class="d-flex flex-row-reverse bd-highlight mt-2">
                        <button class="btn" type="submit"><i class="@(volume.Favoritado ? "fa fa-star" : "fa fa-star-o")" aria-hidden="true"></i></button>
                    </div>
                </form>
                <div class="row mb-2" style="justify-content: space-around;">
                    <div class="col-6">
                        <img src="@volume.Thumbnail" books.google.com="" books="" style="padding-top: 10px;" class="pt-0">
                    </div>
                    <div class="col-6">
                        <span style="text-align: justify; font-weight: 600; font-size: 16px; text-align: center; text-transform: uppercase;">@volume.Title</span>
                    </div>
                </div>
                <span style="text-align: justify;display: block; text-overflow: ellipsis;word-wrap: break-word;" class="pl-2 pr-2">@volume.Description</span>
            </div>
        </div>
    }
</div>